/*
TODO: move to semUI 
*/

html,
body {
  height: 100%;
  min-height: 100%;
  height: auto !important;
  background: linear-gradient(to bottom, #dedfe4 0%, #a1a3a3 40%);
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
}
h2,
p {
  color: #848484;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 28px;
}
#home {
  max-width: 40rem;
  padding: 10rem 3rem;
  margin: 0 auto;
  height: 100%;
}
svg {
  border-radius: 60%;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
svg:hover {
  transform: scale(1.02);
  border-radius: 60%;
  box-shadow: 0 30px 50px #56098a5b;
  overflow: hidden;
}
.social-icon {
  padding-right: 40px;
  text-align: center;
}
.social-icon li {
  list-style: none;
  display: inline-block;
}
.social-icon li a {
  background: #000000;
  border-radius: 50%;
  color: #ffffff;
  font-size: 36px;
  width: 52px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  align-content: center;
  text-decoration: none;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}
.social-icon li a:hover {
  transform: scale(1.02);
  color: #8b3bc0;
  box-shadow: 0 10px 10px #56098a5b;
}
@media screen and (min-width: 35rem) {
  #home {
    padding: 2rem 2rem;
  }
}
