/** Need #app & #outer-container to make the div present 100% because React for reasons I don't understand right now */
html,
body,
#app,
#outer-container {
  height: 100%;
  margin: 0;
  background: #fff;
}
#home {
  /** Size of SVG */
  max-width: 30rem;
  padding: 6rem 1rem;
  margin: auto;
  /** Centered X&&Y*/
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}
#about {
  /** Size of code block */
  max-width: 30rem;
  padding: 4rem 1rem;
  margin: 0 auto;
  /** Centered X&&Y*/
  position: relative;
  /** Mobile top spacing for phones >= iPhone X */
  top: 55%;
  transform: perspective(1px) translateY(-50%);
}
.json {
  font-size: 16px;
  padding: 0 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
}
#gallery {
  display: block;
  padding: 4rem 1rem 0 1rem;
}
.social-icon ul {
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}
.social-icon li {
  list-style: none;
  display: inline-block;
}
.social-icon li a {
  background: #000;
  border-radius: 50%;
  color: #fff;
  font-size: 36px;
  width: 52px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  align-content: center;
  text-decoration: none;
  margin-top: 12px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
  overflow: visible;
}
.social-icon li a:hover {
  transform: scale(1.02);
  color: #8b3bc0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 5px 5px #56098a5b;
  -moz-box-shadow: 0 5px 5px #56098a5b;
  box-shadow: 0 5px 5px #56098a5b;
  overflow: visible;
}

/* Desktop */
@media screen and (min-width: 30rem) {
  #about {
    /** Centered X&&Y */
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
  }
}

@media screen and (min-width: 30rem) {
  #gallery {
    padding: 4rem 4rem;
  }
}

/** Dark mode */
@media (prefers-color-scheme: dark) {
  html,
  body,
  #app,
  #outer-container {
    background: rgb(53, 53, 53);
  }
}
