body {
  font-family: -apple-system, Helvetica, 'Helvetica Neue', BlinkMacSystemFont,
    'Ubuntu', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}
/** Need both to make the div present 100% because React for reasons I don't understand right now */
#app {
  height: 100%;
  min-height: 100%;
}
#outer-container {
  height: 100%;
  min-height: 100%;
}
