body {
  font-family: -apple-system, Helvetica, 'Helvetica Neue', BlinkMacSystemFont,
    'Ubuntu', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}
