html {
  background: rgb(53, 53, 53);
}

body {
  font-family: -apple-system, Helvetica, 'Helvetica Neue', BlinkMacSystemFont,
    'Ubuntu', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

:focus {
  outline: none !important;
}

@media screen and (min-width: 45.5rem) {
  .bm-menu {
    font-size: 2rem;
  }
}
